* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #94c93d;
  border-radius: 30px;
}

header .navbar {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif !important;
  cursor: pointer;
}

header .navbar .search_ico {
  padding-left: 1rem;
}

header .banner {
  position: relative;
}

header .banner .owl-carousel .item img {
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .banner .owl-nav {
  position: absolute;
  left: 9%;
  bottom: 2%;
  outline-style: none !important;
}

header .banner .owl-nav img {
  width: 40px;
  padding: 0rem;
  height: 50px;
}

header .banner .owl-nav .owl-prev:hover,
header .banner .owl-nav .owl-next:hover {
  background: none !important;
  color: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  fill: red !important;
}

header .banner .img_carousel_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8%;
  left: 0%;
}

header .banner .img_carousel_text .container {
  width: 100%;
  height: auto;
}

header .banner .img_carousel_text .container .inner_text {
  width: 50%;
}

header .banner .img_carousel_text .container .inner_text .corona_update {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}

header .banner .img_carousel_text .container .inner_text .corona_update a {
  padding: 0.5rem 1.8rem;
  background-color: #2a753d;
  border-radius: 1.5rem;
  color: white;
  font-weight: bold;
}

header .banner .img_carousel_text .container .inner_text .corona_update span {
  color: wheat;
  font-weight: 600;
  padding: 0rem 0.8rem;
}

header .banner .img_carousel_text .container .inner_text p {
  font-weight: 300 !important;
  font-size: 2.5rem;
  margin-top: 1rem;
}

header .banner .img_carousel_text .container .inner_text h1 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.5rem;
}

header .banner .img_carousel_text .container .inner_text .btn {
  background-color: #2a753d;
  border-radius: 1.5rem;
  padding: 0.6rem 1rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  text-transform: uppercase;
}

header .banner .img_carousel_text .container .inner_text .btn i {
  margin: 0rem 0.5rem;
  font-weight: bolder;
}

.sap_products {
  margin-top: 1rem;
}

.sap_products .upper_heading_sap_products p {
  margin: 0rem;
  padding: 0rem;
  color: #2a753d;
  font-weight: 600;
  font-size: 1.3rem;
}

.sap_products .upper_heading_sap_products h2 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

.sap_products .casting_side h2 {
  font-weight: 100 !important;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.sap_products .casting_side p {
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.sap_products .casting_side .know_btn {
  border: 0.1rem solid black;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
}

.sap_products .casting_side span {
  padding: 0.1rem 2rem;
}

.sap_products .casting_side .download {
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 0rem;
  margin-top: 3rem;
  background-color: #2a753d;
  font-weight: bold;
  color: white;
}

.sap_products .casting_side .download img {
  width: 50px;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.sap_products .img_side img {
  margin: auto;
  text-align: center;
  display: block;
}

.sap_products .sap_products_footer .nav-tabs {
  border: none !important;
}

.sap_products .sap_products_footer .nav-tabs .nav-item {
  border: none !important;
}

.sap_products .sap_products_footer .nav-tabs .nav-item .nav-link {
  border: none !important;
}

.global_pharmaceutical_section {
  color: white;
  padding: 2.5rem 0rem;
  background-image: url("../img/Assets/vision_bg.jpg");
  background-size: 100%;
}

.global_pharmaceutical_section span {
  color: #c9d12c;
}

.global_pharmaceutical_section h2 {
  line-height: 3rem;
}

.about_us {
  margin-top: 4rem !important;
}

.about_us .row {
  background-color: #c9d12c;
  text-align: justify;
}

.about_us .row .about_con {
  padding: 2rem;
}

.about_us .row .about_con h3 {
  font-weight: 600;
}

.about_us .row .about_con p {
  line-height: 1.8rem;
}

.about_us .row .img {
  background-image: url("../img/Assets/about_image.jpg");
  background-size: 100% 100%;
}

.customers_feedbacks {
  margin-top: 4rem;
}

.customers_feedbacks .testimonial_image {
  display: block;
  text-align: right;
  background-color: white;
}

.customers_feedbacks .testimonial_image img {
  -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
}

.customers_feedbacks .feedback_content {
  position: relative;
  z-index: -3;
  background-color: #94c93d;
  padding: 2rem;
}

.customers_feedbacks .feedback_content h3 {
  font-size: 2.6rem;
}

.customers_feedbacks .feedback_content p {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
  padding-right: 6rem;
}

.customers_feedbacks .feedback_content .quote {
  position: absolute;
  top: -30%;
  right: 0%;
}

footer {
  border-bottom: 1px solid #2a753d;
  margin-top: 4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a753d), to(#c9d12c));
  background-image: linear-gradient(to right, #2a753d, #c9d12c);
}

footer .row {
  padding: 2rem 0rem;
}

footer .row h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

footer .row ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

footer .row ul li {
  line-height: 2.5rem;
}

footer .row ul li .icons i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

footer .footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0rem;
}

footer .footer_copyright p {
  font-weight: bold;
}

.about_us_page .about_banner {
  position: relative;
  height: 30rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/Assets/plaster_about.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Assets/plaster_about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about_us_page .about_banner h3 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 5rem;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.about_us_page .about_us .container {
  -webkit-box-shadow: 1px 4px 46px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 4px 46px -2px rgba(0, 0, 0, 0.4);
  padding: 2.6rem;
}

.about_us_page .about_us .container p {
  line-height: 2rem;
}

.presence_page .main_top {
  padding: 2rem 0rem;
  text-align: center;
}

.presence_page .main_top h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */